* {
  font-family: 'square peg';
  font-weight: 1;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: 'square peg';
  src: url('./Fontes/SquarePeg-Regular.ttf');
}

@font-face {
  font-family: 'Redacted script';
  src: url('./Fontes/RedactedScript-Regular.ttf');
}